<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<title th:text="'SPRING BOOT + Thymeleaf + Data JPA -' + ${titulo}"></title>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="#" class="navbar-brand">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#about" class="nav-link"
						th:href="@{/listar}">Cliente</a></li>
				</ul>
			</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<p>
			Powered by <a href="href">Spring Boot</a> y <a href="thymeleaf">Thymeleaf</a>
		</p>
		<p>Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins
			(STS Spring Tool)</p>

		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>

	</footer>
</body>
</html>